[submodule "SRC/Shared/AuraEcho.Cloud"]
	path = SRC/Shared/AuraEcho.Cloud
	url = git@github.com:AuraEcho/AuraEcho.Cloud.git
[submodule "SRC/Shared/alibabacloud-oss-csharp-sdk-v2"]
	path = SRC/Shared/alibabacloud-oss-csharp-sdk-v2
	url = git@github.com:Suence/alibabacloud-oss-csharp-sdk-v2.git
[submodule "SRC/Shared/AuraEcho.Design"]
	path = SRC/Shared/AuraEcho.Design
	url = git@github.com:AuraEcho/AuraEcho.Design.git
