[submodule "SRC/Shared/AuraEcho.Api.Models"]
	path = SRC/Shared/AuraEcho.Api.Models
	url = git@github.com:Suence/AuraEcho.Api.Models.git
[submodule "SRC/Shared/alibabacloud-oss-csharp-sdk-v2"]
	path = SRC/Shared/alibabacloud-oss-csharp-sdk-v2
	url = git@github.com:Suence/alibabacloud-oss-csharp-sdk-v2.git
