[submodule "SRC/Shared/AuraEcho.ClientApi"]
	path = SRC/Shared/AuraEcho.ClientApi
	url = git@github.com:AuraEcho/AuraEcho.ClientApi.git
[submodule "SRC/Shared/alibabacloud-oss-csharp-sdk-v2"]
	path = SRC/Shared/alibabacloud-oss-csharp-sdk-v2
	url = git@github.com:Suence/alibabacloud-oss-csharp-sdk-v2.git
