<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <StandardDirectory Id="ProgramFiles6432Folder">
		  <Directory Id="INSTALLFOLDER" Name="AuraEcho"/>
	  </StandardDirectory>

	  <StandardDirectory Id="ProgramMenuFolder">
		  <Directory Id="ProductMenuFolder" Name="灵光回声"/>
	  </StandardDirectory>
  </Fragment>
</Wix>
